.container{
    background-color: #EEF36A;
}

.apiData{
    background-color: #3F3047;
}

.data:hover span{
    display: none;
}

div{
    text-align: center;
    padding: 10px;
}

.data {
    height: 200px;
    width: 200px;
    position: relative;
    text-align: center;
    /* padding: 20px; */
}

#thumbnails{
    height: 200px;
    width: 200px;
    opacity: 0.7;
    filter: blur(2px);
    transition: opacity 0.5s;
    transition: filter 0.2s;
    padding: 10px;
}

img#thumbnails:hover {
    opacity: 1;
    filter: blur(0);
}

.centered{
    font-weight: bold;
    font-family: monospace;
    color: white;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
