div{
    text-align: center;
    padding: 10px;
}

.container {
    height: 200px;
    width: 200px;
    position: relative;
    text-align: center;
    /* padding: 20px; */
}

#thumbnails{
    height: 200px;
    width: 200px;
    opacity: 0.7;
    filter: blur(2px);
    /* padding: 5px; */
}

img#thumbnails:hover {
    opacity: 1;
    filter: blur(0);
}

.centered{
    font-weight: bold;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
